.signupModal {
  z-index: 999;
  position: fixed;
  background: rgba(237, 237, 237, 0.5);

  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  backdrop-filter: blur(7px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.signupModal__content {
  max-width: 960px;
  background-color: #fff;
  display: flex;
  border-radius: 20px;
}

.signupModal__right {
  position: relative;
  padding: 58px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.signupModal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.signupModal__title {
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 28px;
}

.signupModal__text {
  margin-bottom: 32px;
  font-size: 14px;
  font-weight: 500;
}

.signupModal__login {
  color: #377dff;
}

.signupModal__or {
  text-align: center;
  width: 100%;
  position: relative;
  margin: 24px 0;
  font-weight: 300;
  color: #8c98a4;
  font-size: 14px;
}

.signupModal__or::after {
  left: -24px;
  top: 50%;
  background: #e7eaf3;
  position: absolute;
  content: '';
  width: 50%;
  height: 2px;
}

.signupModal__or::before {
  right: -24px;
  top: 50%;
  background: #e7eaf3;
  position: absolute;
  content: '';
  width: 50%;
  height: 2px;
}

.signupModal__input {
  margin-bottom: 24px;
}

.signupModal__forgot {
  margin-bottom: 24px;
  text-align: center;
  color: #377dff;
  cursor: pointer;
}

.signupModal__forgot:hover {
  text-decoration: underline;
}

.signupModal__closer {
  position: absolute;
  right: 23px;
  top: 23px;
  cursor: pointer;
}

.signupModal__error {
  color: red;
  margin-top: -10px;
  text-align: center;
  font-size: 11px;
}

.signupModal__group {
  display: flex;
}

.signupModal__input_first {
  margin-bottom: 24px;
  margin-right: 10px;
}
