.input {
  width: 100%;
  padding: 20px 20px 18px 20px;
  border: #ececec;
  background: #f6f7f9;
  border-radius: 15px;
  outline: none;
  font-size: 14px;
}

.input:not([value='']):not(:focus) ~ .input__placeholder {
  bottom: 35px;
  left: 18.5px;
  font-size: 11px;
}

.input__placeholder {
  position: absolute;
  bottom: 20px;
  left: 16px;
  font-weight: 400;
  font-size: 14px;
  transition: 0.3s;
  color: #89898b;
  cursor: text;
}

.input__container {
  position: relative;
  display: flex;
}

.input__container:focus-within .input__placeholder {
  bottom: 35px;
  left: 18.5px;
  font-size: 11px;
}
